{# Loaded into #subtitle-acquire-content by the "Upload subtitle" file-row button. #}
{% from "macros.html" import select_field %}
<h3>Upload a subtitle file</h3>
<form
  hx-post="/media/files/{{ media_file_id }}/subtitle-upload"
  hx-encoding="multipart/form-data"
  hx-target="#subtitle-acquire-content"
  hx-swap="innerHTML"
  hx-disabled-elt="find button"
>
  {{ select_field("language", "Language", languages) }}
  <label for="file">Subtitle file</label>
  <input type="file" id="file" name="file" accept=".srt,.ass,.ssa,.vtt" required>
  <button type="submit">
    {{ icon("upload") }}
    <span>Upload</span>
  </button>
</form>
